
.bg-dark{
    background-color:#0e0e0e;
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.section{
    min-height:100vh !important;
    width:100vw;
}

.banner__title-gr{
        font-size: 5em;
        margin-bottom: 20px !important;
        /* font-weight: 300; */
        line-height: 1.2;
}

.btn-beauty{
        background: #ecc284 !important;
        color: #333 !important;
}

.text-center{
    text-align: center;
}

.text-white{
    color:white;
}

.first-slide{
    padding-top:75px;
}

.banner__subtitle{
     max-width:500px;
     margin: 1rem 0 2rem 0;
}

.wrap-md-pd{
    width:90%;
    max-width:1100px;
    margin:0 auto;
    padding: 2rem 0;
}

.wrap-md{
    width: 90% !important;
    max-width: 1100px !important;
    margin: 0 auto !important;
}

#app{
    min-height:100vh;
}

.p-0{
    padding:0;
}

.banner-abme{
   background: #272937;
   color: #fff;
   background-repeat: repeat-x;
   background-position: center bottom;
   background-attachment: fixed;
}

.section__item{
    flex: 1 1 50%;
}

.section__title{
        font-weight: 400;
        font-size: 45px;
        margin-bottom: 15px;
        padding: 15px 0;
}

.section__item p{
        font-size: 1rem;
        font-weight: 200;
        line-height: 26px;
}

.section__item{
    margin:0.5rem;
    max-width:400px;
}

.section__items{
padding-top: 2rem;
}

.img-container img{
        width: 90%;
        object-fit: contain;
}

 .mr-2-rem{
     margin-right:2rem;
 }

@media(max-width:870px){
    .section__items{
       flex-direction: column;
       padding-top:0;
    }
    .section__item{
        min-width: 90%;
    }
    .banner__title-gr {
        font-size: 4.25em;
    }
    .img-container img{
        max-width:360px;
    }
    .banner-abme .section__items{
        padding-top: 4rem;
    }
    .wrap-md-pd{
        padding:0;
    }
    .section{
        padding:3rem 0;
    }
}

@media(max-width:600px){
    .img-container img{
        max-width: 200px !important;
    }
    .banner__subtitle{
        max-width: 80%;
    }
    .banner__title-gr {
        font-size: 3.25em;
    }
}

@media(max-width:500px){
    .section__title{
        font-size: 40px;
    }
    .pshik{
        padding-bottom:0 !important;
    }
}

@media(max-width:510px){
    .section__item p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .banner__title-gr{
        padding-top: 1rem;
        font-size: 3em;
        margin-bottom: 10px !important;
    }
    .img-container img {
        max-width: 200px !important;
        min-width: 80%;
    }
    .section__title {
        word-break: break-word;
        margin-bottom: 0px;
    }
}