<%-include('header.ejs')%>
<div class="kick_me">
    <div class="container1">
        <div class="wrap-container see" style="color:#404040;  font-family: 'Montserrat', sans-serif ">
            <div class="breadcrumps">
                <span><a href="/">Главная</a></span>
            </div>
            <div id="service_price">
                <h1 class="wow fadeInLeftBig animated"  style="text-align: left; visibility: visible; font-size:2.4rem">Ошибка 404</h1>
                <div class="line"><img src="https://if-studio.ru/wp-content/themes/if-studio/img/Line.svg" alt=""></div>
                <p class="wow fadeInLeftBig animated"  style="visibility: visible; ">Данной страницы не существует</p>
            </div>
        </div>
    </div>
</div>                
<%-include('footer.ejs')%>