<%-include('header.ejs')%>
<div class="connected_users">
   
    <div class="container">
        <div>
            <h1>Вам хотять написать</h1>
            <ol id='ulik1' class="fulik1">
                <li class=" la" style="display:none;background-color: darkgrey;list-style: initial !important;">
                  
                </li>
            </ol>
        </div>

        <div>
    
            <hr>
            <h1>Вам написали</h1>
            <ol id='ulik1' class="fulik12">
            
                <li class=" la" style="background-color: darkgrey; list-style: initial !important;display:none;">
                    <div> <a href="#"> Communication </a> </div>
                </li>
                
            </ol>
        </div>
    </div>
</div>
</body>
</html>