<%-include('header.ejs')%>
<div id="app"></div>
<section class="section blue white pshik">
    <div class="chick"></div>
    <div class="chick2"></div>
    <div class="tool"></div>

    <div class="container" >
         <div class="wrap-container fjj" style="background-image: none; width:85%;">
             <%-include('contact.ejs')%>
         </div>
    </div>
</section>
<script src="/build/client.js"></script>
<%-include('footer.ejs')%>