<footer >
    <div class="copyright">
        <p>2015-2019 © All rights are reserved</p>
    </div>
</footer>

<%- include('message.ejs') %>     

<script>

     if(location.pathname.indexOf("/portfolio")!=-1){
        let array=[
              {
                  name:"Virtual Zona",
                  description:'Используемые технологии: <strong style="font-weight:900;color:#feca57;font-size:1.2rem""> ReactJS,NodeJS,HTML ,CSS,SASS</strong>',
                  img:"/public/first.png"
              },
              {
                  name:"ТОРГОВАЯ ПЛОЩАДКА",
                  description:'Используемые технологии: <strong style="font-weight:900;color:#feca57;font-size:1.2rem""> Laravel.JavaScript,HTML ,CSS,SASS</strong>',
                  img:"/public/8.png"

              },
              {
                  name:"CS 1.6",
                  description:'Используемые технологии: <strong style="font-weight:900;color:#feca57;font-size:1.2rem""> WordPress,HTML ,CSS,SASS,JavaScript</strong>',
                  img:"/public/second_i.png"
              }
              

         ]

        localStorage.setItem('descr',JSON.stringify(array))
         
        let header=document.querySelectorAll('.sec')[0];
        header.id="head_portfolio";
      
        let elem=document.querySelectorAll(".row>.ul>li>a");
       
        for (let item of elem){
            item.classList.add('bord');
        }
         
        document.querySelector('.see').style.marginTop=header.clientHeight+"px";
        

        let rem=()=>{
        if(window.innerWidth<394){
           document.querySelector('._col-1').classList.add('none');
        }else{
            document.querySelector('._col-1').classList.remove('none');
        }
        }

        rem();

        window.addEventListener('resize',rem);
    

       Array.from(document.querySelectorAll('.hove')).forEach(elem=>{
           elem.addEventListener('click',(e)=>{
               if(e.target.classList.contains('watch')){
                 let id =e.target.closest(".hove").dataset.id;
                 let json=JSON.parse(localStorage.getItem('descr'));
                 
                 show_banner(json[Number(id)-1],Number(id));
               }
           })
       })

       function show_banner(json,id){
             console.log(json)
             if(json==undefined) return;
            let mine=document.querySelector('.mine');
            mine.classList.remove('none_imp');

            let love=mine.lastElementChild.firstElementChild.children;
            console.log(love)
            for(let elem of love){
                if(elem.matches('h4')){
                    for(let el of elem.children){
                        if(el.classList.contains('name')){
                            el.innerHTML=json.name;
                        }else if(el.classList.contains('opisanie')){
                            el.innerHTML=json.description;
                        } 
                    }
                }else if(elem.matches('.dr')){


                    elem.firstElementChild.setAttribute('src',json.img);
                    
                }
            }
       }}
</script>   
</body>
</html>