<footer id='footer'>
    <div class="copyright">
        <p>2015-2019 © All rights are reserved</p>
        <a href="#footerancor" class="footerup flex1" style="justify-content: center;">Up</a>
    </div>
</footer>

</body>
</html>