
<!DOCTYPE html> 
   <html>
       <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="yandex-verification" content="0fb282df1fb9f0ea" />
         <link rel="icon" href="../public/play-custom.png" type="image/png">
         <link rel="stylesheet" media="screen and (max-width: 600px)" href="/public/media.css">
         <meta charset="utf8">
         <title><%= title%></title>
         <meta name = "description"content="Сайт под ключ. ➤Создание сайтов ✓корпоративных ✓интернет магазинов ✓сложных веб сайтов ✓уникальный веб-дизайн. ... Инновационные, интересные, сложные проекты - это наша слабость. Если у вас есть идея - мы с удовольствием применим весь свой опыт и знания для воплощения ее в жизнь">
	      	<meta name = "keywords" content = "Создание сайтов разной сложности "> <!-- мета элемент, который описывает ключевые слова в документе -->
         <script src="/socket.io/socket.io.js"></script>
         <script src="/public/submit.js" type="module"></script>
         <link rel="stylesheet" href='/public/style.css'>
         <link rel="stylesheet" href='/public/style2.css'>
         
         <% if(admin ){%>
          <script src='/admin/admin.js'  type="module"></script>
         <%}else if(!com){%>
         <script src="/public/main_page.js" type="module"></script>
         <%}%>
         <% if(css){%>
          <link  href="/public/ad.css" type="text/css">
          <%}%>
          <script>
             window.onload=()=>(location.href.includes('/services') || location.href.includes('/portfolio')) ? fun() : null
             
             let somefun=(e)=>{
              new Promise((res,req)=>{
                             console.log(1)
                               
                             if ( e.target.classList.contains('showme')){
                                  
                              let url=e.target.closest('.hove').dataset.url
                               
                              res(url)
                             }else if(e.target.classList.contains('fines')) {
                               res(e.target.dataset.url)
                               console.log('0')
                             }
                             else {
                               console.log('2')
                               req(null)
                            }
                          })
                          .then(url=>{
                              
                              let img=document.querySelector('#s')
                              img.src=url
                              let fix= document.querySelector('.fixs')
                              img.onload=()=>{
                               fix.style.display='block'
                               fix.children[1].onclick=()=>{
                                  fix.style.display='none'
                               }
                              }
          
                          })
                          .catch(()=>console.log())
             }

             function fun(){
                 function inner(css){
                  [].forEach.call(document.querySelectorAll(css),elem=>{
                    elem.onclick=(e)=>{
                        somefun(e)
                    }
                 })
                 }
                 inner('.fines')
                 inner('.showme')                
             }
          </script>
          <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(57422620, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/57422620" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script>

</script>
       </head>
       <body>
           <div id="footerancor"></div>

           <div class='sec'>
              <div class='container'>
                <div class='row'>
                    <div class='brand_name'>
                       <a href="/" style="text-decoration: none; display:flex;align-items: center;justify-content: flex-start;">
                           <img src="/public/send.svg">
                           <h1 style="display:inline-block;margin-left:9px;">MyPortfolio</h1>
                       </a> 
                    </div>
                    <ul class='ul'>
                      <li><a  href="/" data-href="/">Главная</a></li>
                      <li><a href="/services" data-href="/services">Услуги</a></li>
                      <li><a href="/contacts" data-href="/contacts">Контакты</a></li>
                      <li ><a href="/portfolio" data-href="/portfolio">Примеры работ</a></li>
                    </ul>
                </div>
              </div>
              <div class="menu " id="kick" data-open="false">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="12" y="16" width="24" height="2" rx="1" fill="white"/>
                <rect x="12" y="23" width="24" height="2" rx="1" fill="white"/>
                <rect x="12" y="30" width="24" height="2" rx="1" fill="white"/>
                </svg>
              </div>
           </div>