<%-include('header.ejs')%>
<div class="kick_me" >
    <div class="container2">
        <div class=" see" style="margin-top:80px;background-image:none;color:#404040;  font-family: 'Montserrat', sans-serif ">
          <div class="container1" style="width:100%">  
          
             <section style="background-image: none;"class="section--black wrap-container">
                  <div class="container" >
                        <div class="grid">
                            <div class="_col-1"><div class="bgcolor-white"></div></div>
                             <div class="_col-3 special">
                                 <div class="title--section">ПЕРЕСТАНЬТЕ ЗАКАЗЫВАТЬ ПРОСТО САЙТЫ</div>
                                 <div class=" _mb-def">
                                     <div class="title--big">
                                        ДАВАЙТЕ 
                                        ДИДЖИТАЛИЗИРУЕМ 
                                        ВАШ БИЗНЕС!
                                     </div>
                                  </div>  
                                  <div class="speak"> 
                                      <div class="some">
                                          <div class="text-w11 _mb-sm">
                                              Пишите,<br>пообщаемся, договоримся!
                                             </div>
                                               <a href="#" class="link-email">led2017l@gmail.com</a>
                                            </div>
                                  </div>

                                  <div class='buttons'>
                                    <a href="#orderme" class="links_b but_portfolio" target="_self" id="fsg">Заказать Проект</a>
                                  </div>  

                             </div>
                             <div class="_col-g ">
                                 <img src="/public/img_banner.svg">
                             </div>
                             
             </section>
             
        </div>
        <section>
            <div class="container1">
                <div class="breadcrumps">
                    <span><a href="/">Главная</a></span>
                    <span><a href="/services">Услуги</a></span>
                </div>
                <div id="my_port">
                      <div class="projects">
                          <h1>ПРОЕКТЫ</h1>
                      </div>
                      <div class="grid-gap">
                        <div class="service_wrap" style="flex-wrap: wrap;">
                            <div class="service_wrap_item hov" style="  background-color: rgba(177, 179, 177, 0.4);  background-image:  url('/public/case-kava.webp'); background-size: cover;
                            ">
                                    
                                    <div>
                                           <div class="info"><h4> MYKAVA</h4></div>
                                    </div>
                                   
                                    <p> 
                                        <a href="#">
                                             РАЗРАБОТКА САЙТА ДЛЯ ВСЕУКРАИНСКОГО КЛУБА АКТИВНОГО ОТДЫХА KAVA
                                       </a>
                                   </p>
                                    <div class="gradients"></div>
                             </div>
                            
                             <div class="service_wrap_item hov" style="background: url('/public/comp.jpg');background-size: cover;"> 
                              
                                <div>
                                       <div class="info"><h4> TIK-TIK</h4></div>
                                </div>
                               
                                <p>
                                     <a href="#">
                                    РАЗРАБОТКА ИНТЕРНЕТ-МАГАЗИНА БЫТОВОЙ ТЕХНИКИ TIK-TIK
                                     </a>
                                </p>
                                <div class="gradients" ></div>
                            </div>
                            
                            
                      </div >
                      </div>
                </div>
            </div>
            
        </section>
    </div>
</div>    


<%-include('footer.ejs')%>