<%-include('header.ejs')%>
<div class="kick_me" style="background-color: white;" >
    <div class="container2">
        <div class=" see" style="margin-top:80px;background-image:none;color:black;  font-family: 'Montserrat', sans-serif ">
          <div class="container1" style="width:100%">  
          
             <section class="section--black wrap-container">
                  <div class="container" >
                        <div class="grid">
                            <div class="_col-1"><div class="bgcolor-white"></div></div>
                             <div class="_col-3 special">
                                 <div class="title--section">ПЕРЕСТАНЬТЕ ЗАКАЗЫВАТЬ ПРОСТО САЙТЫ</div>
                                 <div class=" _mb-def">
                                     <div class="title--big">
                                        ДАВАЙТЕ 
                                        ДИДЖИТАЛИЗИРУЕМ 
                                        ВАШ БИЗНЕС!
                                     </div>
                                  </div>  
                                  <div class="speak"> 
                                      <div class="some">
                                          <div class="text-w11 _mb-sm">
                                              Пишите,<br>пообщаемся, договоримся!
                                             </div>
                                               <a href="#" class="link-email">led2011@gmail.com</a>
                                            </div>
                                  </div>

                                  <div class="buttons width_all  " style="justify-content: start;">
                                    <a   href="#orderme"class="newbutton orange" style="font-weight: 500; border-radius: 0;width:220px">Заказать </a>
                                 </div>

                             </div>
                             <div class="_col-g ">
                                 <img src="/public/img_banner.svg">
                             </div>
                          </div>   
                  </div>         
             </section>
             
        </div>
        <section>
            <div class="container1 myl">
             <!--Start-->
             <div class="container flex1 gg doo">
                <div class="imagel im" style="margin:0 auto">   
                    <!--Start-->  
                     <div>
                         <img src="../public/laptop.png" style="width:100%;height:100%;    object-fit: contain;
                         max-height: 500px;">
                     </div>     
                    <!--End-->  
                </div>
                <div class="about_us gu">
                     <div>
                         <h1 class="about_h1 ogo txt_center">   Любой может сделать из простого сложное.
                            Мы умеем превратить сложное в простое.</h1>
                     </div>
                     
                </div>
            </div>
             <!--End-->
                <div class='yyd'>
                    <div class="showreel-box">
                        <div class="video-opener"> 
                               <div class="video-opener-box">
                              </div>
                           <div class="showreel-box__info">
                               <div class="showreel-box__title">Technologies</div>
                               <div class="showreel-box__sub-title">Используемые технологии</div>
                           </div> 
                         </div>
                       </div>
                      <div id="my_port">
      
                            <div id="ban">
                              <a class="service_wrap_item hove mine none_imp wrap jj" >
                                  <div class="qoutes">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class="shadow love  " id="gsx">
                                         <div class="block1"></div>
                                         <div class="block2">
                                             
                                         </div >
                                         <div class="info not_column  sgx gogo">
                                             <h4 class="flexik"> 
                                                 
                                                 <div class="name">Имя проекта</div >
                                                 <div class="service_wrap_item  smalltext space-around opisanie">
                                                     Описание проекта 
                                                 </div>
                                                 <div class="price ogo" style="display:none">
                                                      <span class="price__title">Цена: </span> 
                                                      <span class="price__cost ticktick" >От 700[grn.]</span>
                                                 </div> 
                                              </h4>
                                             <div class="dr">
                                                 <img src="/public/first.png" class="menu_icon" alt="...">
                                             </div>
                                         </div>
                                  </div>                   
                              </a> 
                            </div>
      
      
                            <div class="service_wrap wrap  bab" style="padding-top:0;">
                              
                              <a class="service_wrap_item hove"  href="#gsx" data-id="1" style=" background-image: url('/public/te1.png'); background-size: cover; background-position: center;">
                                  <div class="qoutes ">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class="shadow lightgray">
                                         <div class="info">
                                             <h4> Landing</h4>
                                             <div>
                                                    <div href="#"class="watch">Посмотреть</div>
                                             </div>
                                      </div>
                                  </div>                   
                              </a> 
                              <a class="service_wrap_item hove "  href="#gsx" data-id="2" style=" background-image: url('/public/81.png'); background-size: cover; background-position: center;">
                                  <div class="qoutes">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class='shadow lightgray'>
                                      <div class="qoutes ">	
                                          <div class="relative all">
                                              <div>&#8411;</div>
                                           </div>
                                      </div>
                                         <div class="info">
                                             <h4> Торговая площадка</h4>
                                             <div>
                                                <div href="#"class="watch">Посмотреть</div>
                                             </div>
                                         </div>
                                  </div>                   
                               </a>                                            
      
                               <a class="service_wrap_item hove"  href="#gsx"  data-id="3" style=" background-image: url('/public/mythree.png'); background-size: cover; background-position: center;" >
                                  <div class="qoutes">	
                                      <div class="relative all">
                                          <div>&#8411;</div>
                                       </div>
                                  </div>
      
                                  <div class="shadow lightgray">
                                         <div class="info ">
                                             <h4> Portfolio</h4>
                                             <div>
                                                 <div href="#"class="watch">Посмотреть</div>
                                             </div>
                                          </div>
                                  </div>                                    
                               </a >
      
                               
                            </div>   
      
                      </div>
                </div>
                </div>
            </div>
            
        </section>
    </div>
</div>    

<section class="section blue white pshik">
    <div class="chick"></div>
    <div class="chick2"></div>
    <div class="tool"></div>

    <div class="container" >
         <div class="wrap-container fjj" style="background-image: none; width:85%;">
             <%-include('contact.ejs')%>
         </div>
    </div>
</section>
<%-include('footer.ejs')%>