<%-include('header.ejs')%>
<div class="kick_me" >
    <div class="container2">
        <div class=" see" style="margin-top:80px;background-image:none;color:#404040;  font-family: 'Montserrat', sans-serif ">
          <div class="container1" style="width:100%">  
          
             <section style="background-image: none;"class="section--black wrap-container">
                  <div class="container" >
                        <div class="grid">
                            <div class="_col-1"><div class="bgcolor-white"></div></div>
                             <div class="_col-3 special">
                                 <div class="title--section">ПЕРЕСТАНЬТЕ ЗАКАЗЫВАТЬ ПРОСТО САЙТЫ</div>
                                 <div class=" _mb-def">
                                     <div class="title--big">
                                        ДАВАЙТЕ 
                                        ДИДЖИТАЛИЗИРУЕМ 
                                        ВАШ БИЗНЕС!
                                     </div>
                                  </div>  
                                  <div class="speak"> 
                                      <div class="some">
                                          <div class="text-w11 _mb-sm">
                                              Пишите,<br>пообщаемся, договоримся!
                                             </div>
                                               <a href="#" class="link-email">led2011@gmail.com</a>
                                            </div>
                                  </div>

                                  <div class='buttons'>
                                    <a href="#orderme" class="links_b but_portfolio" target="_self" id="fsg">Заказать Проект</a>
                                  </div>  

                             </div>
                             <div class="_col-g ">
                                 <img src="/public/img_banner.svg">
                             </div>
                          </div>   
                  </div>         
             </section>
             
        </div>
        <section>
            <div class="container1">
                <div class="breadcrumps">
                    <span><a href="/">Главная</a></span>
                    <span><a href="/services">Услуги</a></span>
                </div>
                <div id="my_port">
                      <div class="projects">
                          <h1>ПРОЕКТЫ</h1>
                      </div>

                      <div id="ban">
                        <a class="service_wrap_item hove mine none_imp wrap jj" >
                            <div class="qoutes">	
                                <div class="relative all">
                                    <div>&#8411;</div>
                                 </div>
                            </div>

                            <div class="shadow love " id="gsx">
                                   <div class="block1"></div>
                                   <div class="block2"></div c>
                                   <div class="info not_column  sgx gogo">
                                       <h4 class="flexik"> 
                                           
                                           <div class="name">Имя проекта</div >
                                           <div class="service_wrap_item  smalltext space-around opisanie">
                                               Описание проекта 
                                           </div>
                                           <div class="price ogo" style="display:none">
                                                <span class="price__title">Цена: </span> 
                                                <span class="price__cost ticktick" >От 700[grn.]</span>
                                           </div> 
                                        </h4>
                                       <div class="dr">
                                           <img src="/public/first.png" class="menu_icon" alt="...">
                                       </div>
                                   </div>
                            </div>                   
                        </a> 
                      </div>


                      <div class="service_wrap wrap" style="padding-top:0;">
                        <a class="service_wrap_item hove"  href="#gsx" data-id="1" style=" background-image: url('/public/te1.png'); background-size: cover; background-position: center;">
                            <div class="qoutes">	
                                <div class="relative all">
                                    <div>&#8411;</div>
                                 </div>
                            </div>

                            <div class="shadow">
                                   <div class="info">
                                       <h4> Virtual Zona</h4>
                                       <div>
                                              <div href="#"class="watch">Посмотреть</div>
                                       </div>
                                </div>
                            </div>                   
                        </a> 
                        <a class="service_wrap_item hove "  href="#gsx" data-id="2" style=" background-image: url('/public/81.png'); background-size: cover; background-position: center;">
                            <div class="qoutes">	
                                <div class="relative all">
                                    <div>&#8411;</div>
                                 </div>
                            </div>

                            <div class='shadow'>
                                <div class="qoutes">	
                                    <div class="relative all">
                                        <div>&#8411;</div>
                                     </div>
                                </div>
                                   <div class="info">
                                       <h4> ТОГРОВАЯ ПЛОЩАДКА</h4>
                                       <div>
                                          <div href="#"class="watch">Посмотреть</div>
                                       </div>
                                   </div>
                            </div>                   
                         </a>                                            

                         <a class="service_wrap_item hove"  href="#gsx"  data-id="3" style=" background-image: url('/public/mythree.png'); background-size: cover; background-position: center;" >
                            <div class="qoutes">	
                                <div class="relative all">
                                    <div>&#8411;</div>
                                 </div>
                            </div>

                            <div class="shadow">
                                   <div class="info ">
                                       <h4> CS 1.6</h4>
                                       <div>
                                           <div href="#"class="watch">Посмотреть</div>
                                       </div>
                                    </div>
                            </div>                                    
                         </a >

                         <a class="service_wrap_item hove bring"   title="Этот сайт  ещё находится в разработке" href="#gsx" data-id="4" style=" background-image: url('/public/te.png'); background-size: cover; background-position: center;" >
                            <div class="qoutes">	
                                <div class="relative all">
                                    <div>&#8411;</div>
                                 </div>
                            </div>
                            <div class="shadow">
                                   <div class="info ">
                                       <h4> Personal portfolio </h4>
                                       <div>
                                          <div href="#"class="watch">В разработке</div>
                                        </div>
                                    </div>
                            </div>
                                                                 
                         </a >
                      </div>   

                      </div>
                </div>
            </div>
            
        </section>
    </div>
</div>    

<section class="section blue white">
    <div class="chick"></div>
    <div class="chick2"></div>
    <div class="tool"></div>

    <div class="container">
         <div class="wrap-container fjj" style="background-image: none; width:85%;">
             <%-include('contact.ejs')%>
         </div>
    </div>
</section> 
<%-include('footer.ejs')%>