<%- include('header.ejs')%>
<div class="kick_me">
    <div class="container1">
        <div class="wrap-container see" style="color:#404040;  font-family: 'Montserrat', sans-serif ">
             <div class="breadcrumps">
                 <span><a href="/">Главная</a></span>
                 <span><a href="/services">Услуги </a></span>
                 <span><a href="/services/shops"> Интернет-магазин</a></span>
             </div>
             <div id="service_price">
                  <div id="category_price">
                       <div class="inner-left" >
                           <h1>Интернет-Магазин </h1>
                           <div class="line"><img src="/public/Line.svg" alt="..."></div>
                           <p>Для торговых компаний интернет-магазин — самый эффективный способ увеличения продаж. Он работает круглосуточно, без выходных, отпусков, больничных и перерывов на обед.

                            Он станет вашим лучшим сотрудником, требуя минимум вашего времени и затрат. А вложения на создание интернет-магазина окупаются всего за несколько месяцев. Помимо самого каталога товаров, вы можете добавить всю необходимую информацию о вашей компании, скидки и акции, вести рубрику новостей и статей, рассказать об истории компании и ещё многое другое.</p>
                           <p><strong>Почему вам нужен интернет-магазин?</strong></p>
                           <p>Если вы что-то продаёте, даже несколько наименований товара, интернет-магазин необходим для:</p>
                              <div class="list">
                                <ul>
                                    <li>расширения географии продаж, охвата не только вашего района или города, но и соседних регионов и даже всей страны;</li>
                                    <li>повышения количества клиентов, которые не могут добраться до физического магазина в офлайне;</li>
                                    <li>увеличения продаж за счёт круглосуточной работы: товары продаются и ночью, пока вы спите, и во время вашего отпуска;</li>
                                    <li>предоставления больше информации об ассортименте и особенностях продукции нынешним и будущим покупателям.</li></ul>
                              </div>
                              <div class="price"> <span class="price__title">Цена: </span> <span class="price__cost">От 700 [grn.]</span></div> 
                       </div>
                   <div class="inner_right" > <img src="/public/1.svg" alt="hello"></div>

                  </div>
             </div>
        </div>
    </div>
    <section class="section blue white">
        <div class="container">
             <div class="wrap-container">
                 <%-include('contact.ejs')%>
             </div>
        </div>
    </section> 
    <footer  class="one11" id="footer" >
        <div class="copyright">
            <p>2015-2019 © All rights are reserved</p>
            <a href="#footerancor" class="footerup flex1" style="justify-content: center;">Up</a>
        </div>
    </footer>  
</div>     
          
</body>
</html>