<%- include('header.ejs')%>
<div class="kick_me">
    <div class="container1">
        <div class="wrap-container see" style="color:#404040;  font-family: 'Montserrat', sans-serif ">
             <div class="breadcrumps">
                 <span><a href="/">Главная</a></span>
                 <span><a href="/services">Услуги </a></span>
                 <span><a href="/services/site_pod_kluch"> Сайт-Визитка</a></span>
             </div>
             <div id="service_price">
                  <div id="category_price">
                       <div class="inner-left" >
                           <h1>Сайт-Визитка</h1>
                           <div class="line"><img src="/public/Line.svg" alt="..."></div>
                           <p>Если вам нужно доступно и лаконично рассказать о себе и своих продуктах или услугах, стоит заказать сайт-визитку. Это ресурс из нескольких страниц, где на главной изложена основная информация.</p><p>Сайт-визитка относительно мал — содержит от 5 до 20 страниц (редко больше), на которых вы можете разместить портфолио, список товаров или услуг, цены, отзывы, контакты или что-то ещё. Он стоит недорого и окупается быстро ввиду малых затрат.</p>
                           <p><strong>Кому нужен сайт-визитка?</strong></p>
                           <p>Такого формата ресурс идеален для:</p>
                              <div class="list">
                                  <ul>
                                      <li>частных лиц, работающих в разных сферах и предлагающих свои услуги оффлайн;</li>
                                      <li>специалистов-фрилансеров, работающих удалённо;</li>
                                      <li>компаний с ограниченным набором услуг;</li>
                                      <li>небольших магазинов с несколькими сериями товара.</li>
                                  </ul>
                              </div>
                              <div class="price"> <span class="price__title">Цена: </span> <span class="price__cost">От 500 [grn.]</span></div> 
                       </div>
                   <div class="inner_right"> <img src="/public/6.svg" alt="hello"></div>

                  </div>
             </div>
        </div>
    </div>
    <section class="section blue white">
        <div class="container">
             <div class="wrap-container">
                 <%-include('contact.ejs')%>
             </div>
        </div>
    </section> 
</div>     
<footer  class="one11" style=" width: 110vw; position :absolute;bottom:70px;left:0px;">
    <div class="copyright">
        <p>2015-2019 © All rights are reserved</p>
        <a href="#footerancor" class="footerup flex1" style="justify-content: center;">Up</a>
    </div>
</footer>            
</body>
</html>