<%- include('header.ejs')%>


<div class="kick_me">
    <div class="container1">
        <div class="wrap-container see" style="color:#404040;  font-family: 'Montserrat', sans-serif ">
             <div class="breadcrumps">
                 <span><a href="/">Главная</a></span>
                 <span><a href="/services">Услуги</a></span>
             </div>
             <div id="service_price">
                <h1 class="wow fadeInLeftBig animated"  style="text-align: left; visibility: visible; font-size:2.4rem">Услуги и цены:</h1>
                <div class="line"><img src="https://if-studio.ru/wp-content/themes/if-studio/img/Line.svg" alt=""></div>
                <p class="wow fadeInLeftBig animated"  style="visibility: visible; ">Нажмите на подходящий для Вас пункт в одной из трех категорий, чтобы узнать детали данной услуги.</p>
                 <div class="service_wrap">
                       <div class="service_wrap_item">
                               <div class="fon" >
                                     <img src='/public/icon1.svg' alt="...">
                               </div>
                               <div>
                                      <div class="info"><h4> Индивидуальный <br> проект</h4></div>
                               </div>
                              
                               <p> <a href="/services/landing"> <span class="label">Landing Page</span> <span class="value">От 500 [grn.]<span class="arrow-text">→</span></span> </a></p>
                               <p> <a href="/services/shops"> <span class="label">Интернет магазин</span> <span class="value">От 700 [grn.]<span class="arrow-text">→</span></span> </a></p>
                               <p> <a href="/services/site_pod_kluch"> <span class="label">Сайт визитка</span> <span class="value">От 700 [grn.]<span class="arrow-text">→</span></span> </a></p>
                               <div class="gradients" style="    background: linear-gradient(86.95deg,#33338e 0%,#6e5acc 54.47%,#22b5cc 100%);
                               "></div>
                        </div>
                        <div class="service_wrap_item">
                            <div class="fon" >
                                <img src='/public/icon2.svg' alt="...">
                            </div>
                            <div>
                                   <div class="info"><h4> Выборочные услуги
                                    для Вашего сайта.</h4></div>
                            </div>
                           
                            <p> <a href=""> <span class="label">Дизайн</span> <span class="value">От 500 [grn.]</span> </a></p>
                            <p> <a href=""> <span class="label">Верстка</span> <span class="value">От 500 [grn.]</span> </a></p>
                            <p> <a href=""> <span class="label">Посадка на движок</span> <span class="value">От 500 [grn.]</span> </a></p>
                            <div class="gradients" style="    background: linear-gradient(8deg,#8520c3 0%,#ff5cbb 54.17%,#ffb256 100%);
                            "></div>
                        </div>
                       
                 </div >
            </div>
        </div>
    </div>
    <section class="section blue white">
        <div class="container">
             <div class="wrap-container">
                 <%-include('contact.ejs')%>
             </div>
        </div>
    </section> 
    <footer id='footer' class="one11" style=" width: 110vw;">
        <div class="copyright">
            <p>2015-2019 © All rights are reserved</p>
            <a href="#footerancor" class="footerup flex1" style="justify-content: center;">Up</a>
        </div>
    </footer>
</div>


</body>
</html>
