@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

.imagel>svg{
    max-height:500px;
}
#h1{
    font-family:'Nunito';
}
.orange:hover{
    background-color: transparent;
    border-color:#f8de15;
    color:#f8de15;
}
.orange{
    background-color: #f8de15;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    background: #f8de15;
    letter-spacing: 1px;
    border: 1px solid #f8de15;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 19px 35px 17px;
    line-height: 1;
    display: inline-block;
    cursor: pointer;
    outline: 0;
}
.contact_form>p{
    padding: 15px 30px;

}
.active1{
    color: #7b7b7b;
    position:relative;
}
.active1::after{
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #f2e100;
        content: '';
}
.dodo_par .dod a{
    font-size:15px;
}
.dodo_par .dod a:hover{
  color:lightslategray;
}
.tabset{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}
.tabset>li >a{
    color:black;
    font-size:14px;

}

.g>h4{
    font-style: normal;
    color: #000;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding: 1rem 0;
    padding-top:5rem;
    font-size: 2rem;
    text-align: center;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
}
.cards a{
    max-width:320px;
}
.cards a p{
    font-size: 14px;
    font-weight: 400;
}
.home-banner{
    min-height:100vh;
}
.two_column{
    display:grid;
    grid-template-columns: repeat(6,1fr);
}
#orderme{
    grid-column: 3/-1;
}
.section_two{
    color: #b8bcbf;
    margin: 0 auto;
    padding: 95px 0;
    font-family: 'Montserrat', sans-serif;
   /* background-color: rgb(245, 245, 245);*/
    width:100vw;
}

.youk{
    position:absolute;
    z-index:10;
    width:100%;
    height:99%;
    top:0;
    left:0;
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    background-color: #34495e;
    opacity: 0.93;
    display:none;
    animation-duration: 0.5s;
}
@keyframes shad{
    0%{
        opacity:0.2;
    }
    30%{
        opacity:0.3;  
    }
    50%{
        opacity:0.5;
    }
    70%{
        opacity:0.6;
    }
    80%{
        opacity:0.75;
    }
    100%{
        opacity:0.90;
    }
}
.title{
    font-size: 40px;
    opacity: 1;
}
.description-holder{
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    height:33%;
}
.white_c{
    color: #404040 !important;
}
.ogo{
    font-size: 40px;
    line-height: 66px;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
    max-width: 1200px;
    margin-top:0 !important;
    padding-top:0 !important;
}
.doo{
    align-items: center !important;
}
.gu{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ogo1{
    font-size:16px;
    padding:10px;
    padding-bottom:50px;
}
.im{
    flex:1 1 55%;
}
.notes-text {
    position: relative;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
    display: block;
    max-width: 810px;
    text-align: center;
    color:rgb(65, 63, 63);
    margin: 50px auto;
    font-weight: 500;
}

.bl source{
    position: relative;
    z-index:1;
}
.title-block {
    padding-top:2rem;
    color: #303030;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 0 0 30px;
    font-size:40px;
    font-family: 'Montserrat', sans-serif;

}
.dod{
    padding-top:10px !important;
}
.grig{
display:flex !important;
flex-wrap: wrap !important;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 3rem 0;
}
.dodo_par{
    padding-top:1rem;
}
.fixic{
    padding-top:50px;
}
.grig>div{
    max-width: 85% !important;
    position: relative !important;
    margin:0.5rem;
    text-align: center;
    flex: 1 1 50%;
    min-width:200px;
}
.div{
   width:100%;
   height:100%; 
}
.div>img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.bab{
    flex-direction: column;
    width:100%;
    align-items: center;
}
.section{
    width:100vw !important;
}
.results-box {
    width:100%;
}
/**/

.showreel-box {
    background: #f5f6fa;
    color: #000;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 24px 15px;
}
.iit{
    width:50%;
}
.cov{
    flex:1 1 35%;
    min-width:50%;
    padding-right:20px;
    min-height:100px; 
}
.cov>img{
    transform: translateX(-25%);
    object-fit: contain;
    max-width:800px;
}
.text-holder {
    overflow: hidden;
    font-size: 14px;
    line-height: 19px;
    color:white;
}
.text-holder .title {
    font-weight:500;
    font-size:35px;
    display: block;
    margin: 0 0 15px;
    padding: 0 0 30px;
    position: relative;
    color: white;
}
.text-holder .title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #f8e536;
    width: 171px;
    height: 2px;
}
.text-holder p {
    margin: 0 0 55px;
}
.text-holder ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.text-holder ul li {
    width: 375px;
    position: relative;
    padding: 2px 0 0 54px;
}
.text-holder ul li.item-2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    background: url(../public/sprite.png) no-repeat -50px -839px;
    width: 30px;
    height: 30px;
}
.text-holder ul li.item-3:after {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    background: url(../public/sprite.png) no-repeat -92px -836px;
    width: 32px;
    height: 38px;
}
.text-holder ul li span{
    font-weight: 900;
    font-size: 22px ;
    display: block;
    margin: 0 0 10px;
    color:white;
    text-transform: uppercase;
    padding-top:0;
    text-align:left;
}
.pshik{
    background:#18213f !important ;
    padding-top:30px;
}
.text-holder ul li.item-1:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../public/sprite.png) no-repeat 0 -835px;
    width: 41px;
    height: 41px;
}
.d_f{
display:flex;    
align-items:center;
justify-content: center;
padding-top:50px;
width:100%;
}
.gray1{
    background: radial-gradient(ellipse at center,#585858 0,#232323 100%);
    background-color: #343434;
    min-height:90vh;
    width: 100vw;
    overflow:hidden;
    max-height:125vh;
}
.showreel-box .video-opener {
    cursor: pointer;
   
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 320px;
    flex-basis: 320px;
    max-width: 320px;
    width: 100%;
}   
.showreel-box .video-opener-box {
    position: relative;
    -ms-flex-preferred-size: 64px;
    flex-basis: 64px;
    max-width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-right: 17px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.showreel-box .video-opener-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../public/play-custom.png) no-repeat;
    width: 12px;
    height: 15px;
    background-size: 12px 15px;
    margin: -6px 0 0 -4px;
}
.showreel-box__title {
    font-size:35px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
}
.showreel-box__sub-title {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    padding-top: 10px;
}
/**/
.results-box ul{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    max-width:1000px;
    margin:auto;
}
.results-box ul li.item-1 {
    background: url(../public/ico-steps-1.png) no-repeat 50% 0;
}
.results-box ul li .title {
    display: block;
    text-transform: uppercase;
    font: 500 17px/22px 'Roboto',Arial,Helvetica,sans-serif;
    margin: 0 0 30px;
    color: #181717;
}

.results-box ul li  {
    flex: 1 1 25%;
    width: 20%;
    text-align: center;
    border-top-color: #000;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 74px 20px 0;
    min-width:150px;
}
.results-box ul li p{
    font-size:14px;
    color:rgb(105, 102, 102);
}
.results-box ul li.item-2 {
    background: url(../public/ico-steps-2.png) no-repeat 50% 0;
}
.results-box ul li.item-3 {
    background: url(../public/ico-steps-3.png) no-repeat 50% 0;
}
.results-box ul li.item-4 {
    background: url(../public/ico-steps-4.png) no-repeat 50% 0;
}
.blue{
    background-image: radial-gradient(circle at 1% 1%,#2e86de,#1644ad);
    background: linear-gradient(82.83deg,#001d4d 0%,#174a96 39.44%,#006ebd 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    position: relative;
    overflow: hidden;
    
}
#gr>h2{
    color: #ffc000;
    font-family: "Kalam", Poppins, san-serif;
    font-size: 90px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 120px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: left;
}
#fk:hover{
    background:none;
    background-color: transparent;
    border:2px solid #ffc000;
    color:white;
    box-shadow: 0px 4px 108px 12px #f8d879;

}
.kgb{
    
    min-width: 200px;
    object-fit: cover;
    max-width: 300px;
    transform: translate(50px,300px);
}
.notes-text>p{
    padding:2rem 0;
}
.love{
    background-color: rgba(87, 96, 111,1.0);
}
#fk{
    background:none;

    background-color:  #c7ecee ;
    border-color: #c7ecee;
    color:#535c68;
    font-weight:600;
}
.lightgray{
    background-color: rgba(99, 110, 114,0.4);
}
#lol{
    background: radial-gradient(ellipse at center,#585858 0,#232323 100%);
    background-color: #343434;
    padding: 70px 0px;
}
.messages>ul>li{
    background-color: white;
}
.opisanie{
    background-color:#2d3436 !important;
    color:white;
    padding: 20px;
}
#gr>h1{
    max-width:900px;
}
.clients>h2{
    margin-left:0 !important;
    padding:2rem 0;
}
.thatfon{
    font-family: 'Acme', sans-serif !important;

}
.fb{
    margin: auto !important;
}
.knowyou{
    height:190px;
    z-index:0;
}
.points_block{
    background-color: white;
}
.chick{
    transform: rotate(-10deg);
    position: absolute;
    background-image: url(/public/robot-illustration.svg) ;
    opacity: .1;
    width: 550px;
    height: 620px;
    right: -100px;
    pointer-events: none;

    background-position: right;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: 100% 0;
}
.block1{
    position: absolute;
    top:0;
    left:0;
    width:100% !important;
    height:100%;
}
.smalltext{
    width:100%;
}
 .opisanie{
     background-color: transparent;
 }
.block2{
    position: absolute;
    right: 0;
    /* left: 0; */
    transform: rotate(-65deg) translate(0, 230px);
    width: 105% !important;
    height: 125%;
    background: rgb(247, 247, 247);
}
.ticktick{
    color:white;
}
.ogo{
    margin-top:30px;
    margin-bottom: 9px;
}

.letters{
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17.58vw;
    line-height: 19vw;
    letter-spacing: .05em;

    color: rgba(0,0,0,.05);
    z-index: -1;
    white-space: nowrap;
    top:18%;
    left:0%;
    transform:rotate(-20deg);
}


.bg-text__item--before1{
    text-align:right;
    margin-left:80%;
}
.bg-text__item--before2{   
    text-align: right;
    margin-left:80%;
}

.mod{
    max-width: 932px;
}
.jj{
    min-height: 300px !important;
}
.mod{
    flex:1 1 50%;
}
.contact_form>h3 ,.page-body__container{
color:white;
font-size:40px;
}
.fixic{
    padding-bottom: 30px !important;
}
.pos1{
    margin: 0 10px 30px;
    text-align: center;
    padding: 20px 25px 31px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 15px 32px 5px rgba(0,0,0,0.05);
    border-radius: 50px;

}
.txt_center{
    text-align: center;
}
.chick2{
    position: absolute;
    top:0;
    left:6%;
    background: url(/public/mic-drop.svg) no-repeat 0 0;
    background-size: 90px;
    min-width:90px;
    min-height:96px;
    padding-top: 4em;
}
.absolute{
    position:absolute;
    width:989px;
    height:843px;
}
.absolute>canvas{
    width:100%;
    height:100%;
}
.tool{
    transform: rotate(-10deg);
    position: absolute;
    background-image: url(/public/tooling-default.svg) ;
    opacity: .1;
    mix-blend-mode: luminosity;
    min-width: 400px;
    min-height: 420px;
    left: -100px;
    pointer-events: none;
    bottom:40%;
    background-position: left center;
    background-size: cover;

    background-repeat: no-repeat;
}
/**/
.formo{
    background-color:white;
}
.input{
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    padding: 0;
}
/**/

@media(max-width:1200px){
    .cov>img{
        transform: translateX(-43%);
    }    
}
@media(max-width:1070px){
    .ogo1{
        padding: 10px;
    }
    .doo{
        flex-direction: column-reverse;
    }
}
@media (max-width:880px){
    .cov>img {
        transform: translateX(-50%);
    }
    .text-holder ul li {
        /* width: 375px; */
        width:auto;
    }   
    .cov{
        min-width:40%;
    } 
    .iit {
        width: 60%;
        flex: 1 1 55%;
    }
    

    #fk{
        margin: 10px !important;
    }
    #gr>h1,#gr>h2{
        text-align:center;
    }
    .nike{
        margin:0 auto;
    }
    .nike>a{
        margin: 8px auto !important;
    }
    .greeting>h1 {
      padding-bottom: 0;
    }    
}
@media (max-width:790px){
    .feedback-title {
        font-size: 37px;
    }    
    .servicess>h6{
        padding-bottom: 0.25rem !important;
    }
    .cov>img {
        transform: translateX(-60%);
    }
   .title-block :not(.tit){
    font-size:2.6rem !important;
    }
    .maxing{
     padding: 40px 0 30px 0;
    }
    .servicess>h6 {
        padding: 3rem 0;
        font-size: 2rem;
    }
}
@media(max-width:692px){
    .ogo{
        font-size: 30px;
    }
    .ogo{
        padding-right:0 !important;
    }

    .dodo_par .dod a {
        font-size: 15px;
        max-width:90vh;
    }    
    .g>h4{
        font-size:1.5rem;
    max-width: 90%;
    margin: 0 auto;
    line-height:1.9rem;
    }
    .title-block:not(.tit){
        font-size:2rem !important;
    }
    .notes-text{
        font-size:16px;
        margin-bottom: 0;
    }
    .results-box ul li {
        flex: 1 1 100%;
        margin-top: 40px;
    }
    .text-holder p {
        font-size: 15.5px;
    }
    .results-box ul li p {
        margin: 0 auto;
        width: 90%;
    }
    .mod{
        margin-left:0 !important;
        margin-top:0 ;
    }
    .greeting>h1{
        padding-bottom: 10px;
    }
    #gr>h1{
        padding:8px 0 18px 0;
        font-size:24px !important;
    }
    #gr>h2{
        font-size:4.4rem;
    }
    #gr>h2{
        padding-bottom:10px;
        line-height: 100px;
    }
    .dod{
        padding:0 !important;
    }
    .cov {
        min-width: 30%;
    }
    .iit {
        width: 70%;
    }
    .cov>img {
        transform: translateX(-70%);
    }    
}

@media(max-width:617px){
    .feedback-title {
        font-size: 33px;
    }
    .cov>img {
        transform: translateX(-75%);
    }   
      
    .nike>.links_b{
      margin:10px 0;
    }
    .back-map>#form{
        width:100%;
    }
    
    
    
    .display_flex{
        flex-direction: column-reverse;
        top:0;
    }
    .blue{
        padding-bottom:10px;
    }
    .greeting>h1{
        height:initial;
    }
    .imgg2>img{
        display:none;
    }
    .imgg2{
        min-width:400px;
        min-height:250px;
        background-image: url(/public/main-illustration.svg);
        background-size: cover;
    }
    .tw-w-full{
  
        mix-blend-mode:normal !important;
    }    
    .home-banner{
       
        padding-top:20%;
    }
    
    .relative_my{
        margin: 0 auto 7% auto;
    }
    .nike{
        max-width: initial;
    }
    .nike>.links_b{
        margin-right:0;
        margin-bottom: 5px;
    }

   .cov{
       min-width:20%;
       flex:1  1 20%;
   }
   .iit{
       width:80%;
       flex: 1 1 80%;
   }
   .tit+p{
       color:#ffeaa7;
   }
}
@media(max-width:555px){
    .feedback-title {
        font-size: 28px;
    }
    .results-box ul li{
        flex:1 1 100%;
    }

    .results-box ul{
       padding:0 5%;
    }
    #gr>h2{
        font-size:3.5rem !important;
        line-height: initial;
    }
   
    .shadow>.info, .smallprice{
        flex-wrap:wrap;
    }
    .gr>#h1{
         width: 100%;
         font-family: 'roboto';
         font-weight: 100;   
    }
    .block2{
        top:50%;
        left:0;
        transform: rotate(-30deg);
        width:200% !important;
        height:60%;
    }
    .jj{
        min-height:500px !important;
    }
    .love>.info{
        height:auto;
    }
    .love>.info>h4{
        transform: translate(0,35px);
        margin:auto;
    }
    .smalltext{
        min-height:100px;
    }
  
}
@media(max-width:490px){
    .showreel-box__title {
        font-size: 30px;
    }    
    .ogo {
        font-size: 26px;
        margin-bottom: 5px !important;
        padding-bottom: 0 !important;
    }
    .im{
        padding-top:20px;
    }
    .tool {
     display: block;
    }   
    .chick{
        display:none;
    }
    .relative_my{
        margin-top:0;
    }
    .results-box ul li{
        min-width:100%;
    }
    .dodo_par .dod a {
        font-size: 14px;
    }
    .cov{
        display:none;
    }
    .g>h4{
        padding-top: 6rem;
    }
    .contact_form>p {
        padding: 15px 0px;
        width:100%;

    }
    .feedback-title {
        margin-bottom: 0 !important;
      }  

    .contact_form>p {
        padding-top:0;
     }    
}
@media(max-width:445px){
    
    .feedback-title {
        font-size: 24px;
    }
    .imgg2{
        min-width:350px;
        min-height:200px;
    }
    .nike>.links_b{
        max-width:18rem;
    }
    #gr>h2 {
        font-size: 3rem !important;
    }
    #gr>h1 {
        font-size: 21px !important;
    } 
    .blue>.container{
        padding-bottom: 20px;
    }
    .submit{
    height: 60px;
    line-height: 60px;
    }
}
@media(max-width:400px){
    .nike>.links_b{
    height: 60px;
    line-height: 60px;
    }
    .about_h1{
        font-size:2.5rem;
    }
    .ogo {
        font-size: 25px;
        line-height: 40px;
    }    
    .gu{
        margin-left:0 !important;
    }
    .servicess>h6 {
        padding: 0;
        padding-top:1.7rem;
        font-size: 1.5rem;
    }
    .notes-text {
        font-size: 14px;
    }
    .title-block:not(.tit) {
        font-size: 1.8rem !important;
    }
    .notes-text{
        margin-top: 10px;
    }  
    .about_p {
        font-size: 16px;
    }      
    .nike>.links_b{
        max-width:16rem;
    }
   
    .contact_form>h3 ,.page-body__container{
        color: white;
        font-size: 34px;
    }
    .text-holder p {
        padding-right: 10px;
    }   
    .cards a{
        max-width: 300px;
        position: static;
        margin-left: 0 !important;
        min-height: 350px;

    }
    .pos1{
        margin-left: 0 !important;
    }
    .line{
        margin-left:0;
    }
}
@media(max-width:380px){
      
    .showreel-box__title {
        font-size: 22px;
    }  
    .showreel-box{
        margin: 2rem 0;
    }
    #gr>h2 {
        font-size: 2.5rem !important;
    }
    #gr>h1 {
        font-size: 16px !important;
    }
    .feedback-title{
        line-height: 40px;
    }
    .contact_form>p {
        padding: 15px 0;
    }
}

