@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

.imagel>svg{
    max-height:500px;
}
.section_two{
    color: #b8bcbf;
    margin: 0 auto;
    padding: 95px 0;
    font-family: 'Montserrat', sans-serif;
   /* background-color: rgb(245, 245, 245);*/
    width:100vw;
}

.notes-text {
    position: relative;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 40px;
    display: block;
    max-width: 810px;
    text-align: center;
    color:rgb(65, 63, 63);
    margin: 40px auto;
}
.title-block {
    color: #303030;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 0 0 30px;
    font-size:3rem;
    font-family: 'Montserrat', sans-serif;

}
.results-box ul{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.results-box ul li.item-1 {
    background: url(../public/ico-steps-1.png) no-repeat 50% 0;
}
.results-box ul li .title {
    display: block;
    text-transform: uppercase;
    font: 500 17px/22px 'Roboto',Arial,Helvetica,sans-serif;
    margin: 0 0 30px;
    color: #181717;
}

.results-box ul li {
    flex: 1 1 25%;
    width: 20%;
    text-align: center;
    border-top-color: #000;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 74px 20px 0;
    min-width:150px;
}
.results-box ul li p{
    font-size:14px;
    color:rgb(105, 102, 102);
}
.results-box ul li.item-2 {
    background: url(../public/ico-steps-2.png) no-repeat 50% 0;
}
.results-box ul li.item-3 {
    background: url(../public/ico-steps-3.png) no-repeat 50% 0;
}
.results-box ul li.item-4 {
    background: url(../public/ico-steps-4.png) no-repeat 50% 0;
}
.blue{
    background-image: radial-gradient(circle at 1% 1%,#2e86de,#1644ad);
    background: linear-gradient(82.83deg,#001d4d 0%,#174a96 39.44%,#006ebd 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50%;
    position: relative;
    overflow: hidden;
    
}
#gr>h2{
    color: #ffc000;
    font-family: "Kalam", Poppins, san-serif;
    font-size: 90px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    line-height: 120px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: left;
}
#fk:hover{
    background:none;
    background-color: transparent;
    border:2px solid #ffc000;
    color:white;
    box-shadow: 0px 4px 108px 12px #f8d879;

}
#fk{
    background:none;

    background-color:  #c7ecee ;
    border-color: #c7ecee;
    color:#535c68;
    font-weight:600;
    box-shadow: 0px 4px 108px 12px #535c68;
}
#gr>h1{
    max-width:900px;
}
.clients>h2{
    margin-left:0 !important;
}
.thatfon{
    font-family: 'Acme', sans-serif !important;

}
.fb{
    margin: auto !important;
}
.knowyou{
    height:190px;
    z-index:0;
}
.points_block{
    background-color: white;
}
.chick{
    transform: rotate(-10deg);
    position: absolute;
    background-image: url(/public/robot-illustration.svg) ;
    opacity: .1;
    width: 470px;
    height: 620px;
    right: -100px;
    pointer-events: none;

    background-position: right;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: 100% 0;
}
.block1{
    position: absolute;
    top:0;
    left:0;
    width:100% !important;
    height:100%;
    background: linear-gradient(0deg,#8b60ed,#b372bd)
}
.smalltext{
    width:100%;
}
 .opisanie{
     background-color: transparent;
 }
.block2{
    position: absolute;
    right: 0;
    /* left: 0; */
    transform: rotate(-65deg) translate(0, 230px);
    width: 105% !important;
    height: 125%;
    background: rgb(247, 247, 247);
}
.ticktick{
    color:white;
}
.ogo{
    margin-top:30px;
    margin-bottom: 9px;
}

.letters{
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 17.58vw;
    line-height: 19vw;
    letter-spacing: .05em;

    color: rgba(0,0,0,.05);
    z-index: -1;
    white-space: nowrap;
    top:18%;
    left:0%;
    transform:rotate(-20deg);
}


.bg-text__item--before1{
    text-align:right;
    margin-left:80%;
}
.bg-text__item--before2{   
    text-align: right;
    margin-left:80%;
}

.mod{
    max-width: 932px;
}
.jj{
    min-height: 300px !important;
}
.mod{
    flex:1 1 50%;
}
.contact_form>h3 {
color:white;
font-size:40px;
}
.fixic{
    padding-bottom: 30px !important;
}
.pos1{
    margin: 0 10px 30px;
    text-align: center;
    padding: 20px 25px 31px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 15px 32px 5px rgba(0,0,0,0.05);
    border-radius: 50px;

}
.chick2{
    position: absolute;
    top:0;
    left:6%;
    background: url(/public/mic-drop.svg) no-repeat 0 0;
    background-size: 90px;
    min-width:90px;
    min-height:96px;
    padding-top: 4em;
}
.absolute{
    position:absolute;
    width:989px;
    height:843px;
}
.absolute>canvas{
    width:100%;
    height:100%;
}
.tool{
    transform: rotate(-10deg);
    position: absolute;
    background-image: url(/public/tooling-default.svg) ;
    opacity: .1;
    mix-blend-mode: luminosity;
    min-width: 400px;
    min-height: 420px;
    left: -100px;
    pointer-events: none;
    bottom:40%;
    background-position: left center;
    background-size: cover;

    background-repeat: no-repeat;
}


@media (max-width:860px){
    .home-banner{
        min-height:115vh;
    }

    #fk{
        margin: 10px !important;
    }
    #gr>h1,#gr>h2{
        text-align:center;
    }
    .nike{
        margin:0 auto;
    }
    .nike>a{
        margin: 8px auto !important;
    }
    .greeting>h1 {
      padding-bottom: 0;
    }    
}
@media (max-width:760px){
   .home-banner{
       min-height:125vh;
   }
   .title-block{
    font-size:2.6rem !important;
    }
}
@media(max-width:692px){
    .title-block{
        font-size:2rem !important;
    }
    .notes-text{
        font-size:16px;
    }
    .results-box ul li{
        flex:1 1 50%;
        margin-top:50px;
    }
    .results-box ul li p {
        margin: 0 auto;
        width: 90%;
    }
    .mod{
        margin-left:0 !important;
        margin-top:0 ;
    }
    .greeting>h1{
        padding-bottom: 10px;
    }
    #gr>h1{
        padding:8px 0 18px 0;
        font-size:24px !important;
    }
    #gr>h2{
        font-size:4.4rem;
    }
    #gr>h2{
        padding-bottom:10px;
        line-height: 100px;
    }
    
}

@media(max-width:600px){
    
      
    .nike>.links_b{
      margin:10px 0;
    }
    .back-map>#form{
        width:100%;
    }
    
    .contact_form>p{
        padding: 15px 0;

    }
    
    .display_flex{
        flex-direction: column-reverse;
        position: absolute;
        top:0;
    }
    .blue{
        padding-bottom:40px;
    }
    .greeting>h1{
        height:initial;
    }
    .imgg2>img{
        display:none;
    }
    .imgg2{
        min-width:400px;
        min-height:250px;
        background-image: url(/public/main-illustration.svg);
        background-size: cover;
    }
    .tw-w-full{
  
        mix-blend-mode:normal !important;
    }    
    .home-banner{
        align-items: flex-start;
        position: relative;
        padding-top:15%;
    }
    .relative_my{
        margin:7% auto;
    }
    .nike{
        max-width: initial;
    }
    .nike>.links_b{
        margin-right:0;
        margin-bottom: 5px;
    }

   
}
@media(max-width:530px){
   
    #gr>h2{
        font-size:3.5rem !important;
        line-height: initial;
    }
    .home-banner{
        padding-top:0;
        align-items: center;
    }
    .shadow>.info, .smallprice{
        flex-wrap:wrap;
    }
    .gr>#h1{
         width: 100%;
         font-family: 'roboto';
         font-weight: 100;   
    }
    .block2{
        top:50%;
        left:0;
        transform: rotate(-30deg);
        width:200% !important;
        height:60%;
    }
    .jj{
        min-height:500px !important;
    }
    .love>.info{
        height:auto;
    }
    .love>.info>h4{
        transform: translate(0,35px);
        margin:auto;
    }
    .smalltext{
        min-height:100px;
    }
    .relative_my{
        margin-top: -20%;
    }
}
@media(max-width:435px){
   
   
    .imgg2{
        min-width:350px;
        min-height:200px;
    }
    .nike>.links_b{
        max-width:18rem;
    }
    #gr>h2 {
        font-size: 3rem !important;
    }
    #gr>h1 {
        font-size: 21px !important;
    } 
    .blue>.container{
        padding-bottom: 20px;
    }
    .submit{
    height: 60px;
    line-height: 60px;
    }
}
@media(max-width:400px){
    .nike>.links_b{
        max-width:16rem;
    }
   
    .contact_form>h3 {
        color: white;
        font-size: 34px;
    }

}
@media(max-width:340px){
    #gr>h2 {
        font-size: 2.5rem !important;
    }
    #gr>h1 {
        font-size: 16px !important;
    }
}

@media screen{
  .home-banner{
      min-height:100vh;
  }
}