@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|PT+Sans+Caption|Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cantarell&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.nike{
    max-width:550px;
    display:block;
    width:100% !important;
}
.nike>.links_b{
    margin-left:16px;
    display: inline-block;
    transition-property:background-color border;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 20rem;
}
.maxing{
    flex: 1 1 50%;
}
.nike>#one:hover{
    box-shadow: 0px 0px 61px 11px rgba(38, 142, 247) !important;
    background:none ;
    border: 2px solid #328af1;
    color:white;
    font-weight:400;
}
.arrow{
    font-size:25px;
    display:inline-block;
    transform: translate(5px,1px);
}


.container1>.breadcrumps span a{
    font-size:18px;
}
.container1>.breadcrumps {
padding-top:20px;
}
.flexik{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 90%;
}
.love>.info{
    width:100%;
    height:80%;
    padding: 0 20px;
    padding-top:20px;
}
.hov>p>a{
    font-size: .85rem;
    line-height: 1.6em;
    color:white!important;
    font-weight: 600;
}
.threee{
    background-image: none!important;
}
.noo{
    color:    #616466 !important;
}
#white{
    background-image: url(/public/plans-bg-left-wire.svg),url(/public/plans-bg-left.svg),url(/public/plans-bg-right.svg);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: 10%,0 100%,100% 100%;
    background-color: rgb(245, 245, 245);
}
.dic{
    font-size: 30px !important;
    line-height: 1.2em;
    font-weight: 700;
    font-family: Rubik;
}
 .hov{
    color:white !important;
    min-height:340px;
    min-width:180px;
    flex: 1 1 50%;
}
.hov>p{
    color:white !important;
}
.not_column>h4{
    height:100%;
    min-width:250px;
}
.name{
    font-family: 'Montserrat', sans-serif !important;
    text-shadow:  6px -4px 20px rgb(46, 42, 42);
    color:white;
}
.mine{
    max-height:500px !important;
    width:100% !important;
    max-width: 860px !important;
    margin: 20px auto  !important;
    min-height:370px !important;
}
#ban{
    width:90vw;

}
.projects{
    text-align: center;
    font-size :1.5rem;
    padding-top:20px;
}
#my_port{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section--black{
    background: #272937;
    padding:0;
    padding-top: 2.5625rem !important;
    color:white;
    min-width:100vw;
}

._col-g{
    grid-column: 5/-1;
    position: relative;
}
._col-g>img{
    position: absolute;
    height:100%;
}
.grid>div{
    min-height: 83vh;

}
.tick{
    grid-row-start: 2;
}
.bgcolor-white{
    background-color: #fff;
    height: .625rem;
    width: 2.875rem;
}
.grid{
    display:grid;
    grid-template-columns: 70px repeat(8,1fr);
    min-height:83vh;
}

.but_portfolio{
    line-height: 40px !important;
    height:40px !important;
    max-width: 230px !important;
}

.js-scroll>h1{
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: #fff;
    margin: .5em 0;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 600;
    width:120%;
}
.text-w11{
    font-size: 15px;
    line-height: 1.2em;
    color: hsla(0,0%,100%,.7);
    padding-bottom: 10px;
}
.special{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-bottom:20%;
    position: relative;
    z-index: 12;
}
._col-g>img{
    height:100%;
  
}
#fsg{
    margin-top:20px;
    border-radius: 0;
    background-color: red !important;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: .5px;
    font-size:17px !important;
    margin:0;
}

.tw-w-full{
   width:100%;
   height:100%;
}
.wrap{
    flex-wrap: wrap;
}
.dr{
    flex:1 1 50%;
    max-width:550px;
    height:auto;
}
.hove{
    flex: 1 1 40%;
    min-width: 180px;
    flex-wrap: nowrap !important;
    max-height:350px;
    min-height:240px;
    box-shadow: 0px 4px 90px rgba(207, 207, 207, 0.5) !important;
    position: relative;
    overflow: hidden;
    min-width: 50%;
    min-height: 300px;
}
.qoutes{
    display:flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: 7rem;
    color:white;
    position: absolute;
    top:0;
    z-index:9;
    left:0;
    width:100%;
    height:24px;
    background-color: #272937;
}
.watch{
    transform: translateY(10px);
    background: #e74c3c !important;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: .5px;
    font-size: 18px !important;
    margin: 0;
    padding:3% 2% ;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color:white;
    width:195px;
}
.space-around{
    justify-content: space-around !important;
}
.move_to_top{
    position: absolute;
    right:10px;
    top:0px;
    transform: translate(0,0);
}
.letters{
    display: none !important;
}
.qoutes>small,.qoutes>div{
    transform: translateY(-21.5%);
}
#head_title{
    color: #f9b326;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 10px 0;
    text-align:left;
    font-family: 'Montserrat', sans-serif
}
.head_tel{
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.3;
    font-family: 'Alegreya Sans', sans-serif;
     font-weight: 600;
     display:flex;
     flex-direction: column;
     align-items: center;
}
.head_tel>small{
    margin-top: 5px;
    font-size: 24px;

}
.min_width{
    min-width:40%;
    margin-top:0;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.display_flex{
   display:flex;
   align-items: center;
   justify-content: center;
}
.imgg2{
    flex:  1 1 35%;
}
.gg{
    align-items: flex-start !important;
    padding-top:30px !important;
}
.home-banner-illustration{
    min-width: 500px;
    height:100%;
    width:100%;
    object-fit: cover;
    /*box-shadow: 0px 4px 90px rgba(228, 236, 191, 0.5) !important;*/

}
.width_all{
    width:100% !important;
}
.newbutton:hover{
    border-color:#328af1;
    color:#328af1;
    background-color: transparent;

}
.threee>#form{
    opacity: 1 !important;
}
.newbutton{
    transform: 0.5s ease-out background-color;
    border: 3px solid white;
    background-color: #328af1;
    font-weight: 900;
    color: white;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .83rem;
    padding-bottom: .83rem;
    font-size: 0.9rem;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    max-width: 30rem;
    text-align: center;
    border: 1px solid;
    border-radius: 18px;
}
.jus_center{
    justify-content: center !important;
}
.smalltext{
    max-width:300px;
    font-size:1rem;
    max-height:90px;
    line-height: 30px;
    margin-left: 0;
    margin-right: 0;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadow>.info>h4{
    color:white;
    font-weight: 1000;
    font-size: 2rem;
    padding-bottom:10px;
}
.not_column{
   flex-direction: row !important;
}
.shadow>.info,.smallprice{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.active{
    border-radius: 15px !important;
    padding: 0 30px;
    border: 1.3px solid #4b7bec;

}
.smallprice{
    font-size: 25px;
}
#fsg:hover{
    box-shadow: 0px 4px 90px rgba(173, 168, 175, 0.5) !important;

}
.link-email{
    vertical-align: top;
    font: 700 16px/1.5em Arial,sans-serif;
    font-family: 'Cantarell', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    box-sizing: content-box;
    margin: 10px 0;
}
.js-scroll>p{
    margin: 1.25rem 0;
    color: #dbdbe2;
    font-size:14px;
}
.none{
    display:none;
}
.none_imp{
    display:none !important;
}
.head_slogun{
    margin-top: 70px;
    margin-bottom: 0;
    font-family: 'Alegreya Sans', sans-serif;

}
#head_portfolio{
    background-color: #3867d6;
}
.title--big {
    font-size:3rem;
    font-family: 'Ubuntu Condensed', sans-serif;

}
._col-1 {
    align-self: flex-start;
}
.title--section{
    font-size: .875rem;
    letter-spacing: .5px;
    max-width: 250px;
    font-family: Arial;
    text-transform: uppercase;
}
._col-3{
    grid-column: span 3;
}

#fsg{
    border-radius: 0;
    background: red !important;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: .5px;
}

.bab{
    padding:0 5% !important;
}
.container2{
    max-width: 1700px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin:0;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden ;
    position: relative;

}
.footer>.copyright {
    flex-direction: column;
    display: inline-block;
    width: 60%;
    margin: auto;
    align-items: center;
}
body>section,body>div:not(.write_mes){
    width:100% !important;
}
.head_inner{
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 40px 20px;
}
.head-section{
    background-color: #18213f;
    background-image: repeating-linear-gradient(150deg,rgba(22,93,249,.15),rgba(22,93,249,.15) 1px,transparent 0,transparent 41px),repeating-linear-gradient(-150deg,rgba(22,93,249,.15),rgba(22,93,249,.15) 1px,transparent 0,transparent 41px);
    background-size: 82px 47px;
    color: #fff;
    padding-top:90px;
    min-height:50vh;

}
.head_wrap{
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
.sec{
    position: fixed;
    top:0;
    left:0;
    color:white;
    padding:15px 0;
    width:100%;
    max-width:100vw !important;
    min-height:50px;
    background:#2d2d44;
    background: #25292d;
    z-index:999999999999;
}
.height_all{
    min-height:60vh;
}
.container{
    width:90%;
    display:flex;
    /*align-items: center;
    justify-content: center;*/
    margin:auto;
}
.pad{
    padding-top:70px;
}
.feedback-title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 66px;
}
.feedback-title__highlight {
    opacity: 0.6;
}
.page-body__container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px; 
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.myflex{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /*width:50%;*/
    margin-left:10%;
    min-width: 450px;
}
.ul>li{
    height: 51px;
    text-align: center;
    line-height: 30px;
    list-style: none;
    margin-left:30px;
    font-size: 1.4rem;
    color: #e0e0e0;
}
.ul>li>a:hover{
    color:#4b7bec;
}
.ul>li>a {
    
    font-size: 0.65em;
    transform: translateY(5px);
    text-decoration: none;
    color: #fff;
    letter-spacing:0.5px;
    height:auto;
    font-family: "Nunito","Arial",sans-serif;
    width:100%;
    display: block;
    padding-top: 2px ;
    padding-bottom: 2px;
}


.ul li a:visited {
    color: #fff;
}
.smalltext>strong{
    font-family: 'Raleway', sans-serif;
}
.opisanie{
    box-shadow: 0px 4px 90px rgba(70, 68, 71, 0.301) !important;

}
.brand_name{
    font-size: 39px;
    font-weight: 600;
    letter-spacing: 2px;
    /*font-family: 'Ma Shan Zheng', cursive;*/
    font-family: 'Raleway', sans-serif;
}
.brand_name>a>h1{
    font-size:1.7rem;
}
.menu{
    width:40px;
    height:40px;
    position: absolute;
    display:none;
    top: 15px;
    right: 3%;
    z-index: 20000;
    border-radius: 2.5px;
}
.menu_icon{
    width:100%;
    height:100%;
    object-fit: cover;
}
.fixic{
    background-image: none !important;
}
.home-banner{
    padding-top:10%;
    width:100vw;
    overflow: hidden;
    display:flex;
    align-items: center;
  
    
    background:#272937 url('https://itproger.com/intensive/img/bg-python.svg') center center no-repeat;
    background-size: cover ;
    background-attachment: fixed;

}
.home-inner{   
    padding-top:70px;
    position: absolute;
    width:100vw;
    max-height:100%;
    background: url(/public/flow-wall@2x.webp) no-repeat;
    background-size: 1390px 471px;
    background-position: 100% 0;
    bottom:0;
    top:90px;
    background-attachment: fixed;

}
.banner{
    padding-top:5%;
    background-color:  rgba(52, 73, 94,0.2) ;
    background: linear-gradient(82.83deg,#00112c 0%,#00245b 39.44%,#006ebd 100%);
    background-size: cover;
    width:100vw;
    min-height:100vh;
    position: relative;
    overflow-x: hidden !important;
    top:0;
    left:0;
    z-index:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
}
.sgx{
    position: relative;
    z-index: 5;
}
#to{
position: absolute;
top:110px;
right:-10%;
width:40%;
z-index:-1;
}
#to>img{
    object-fit: contain;
}

.small_container{
    width:80%;
    display: flex;
    margin:auto;
    margin-top:90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu{
    display: none;
}
.know{
    background-color: #c8d6e5;
    color:#222f3e;
    width:80%;
    margin:10px auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    padding: 5px ;
    border-radius: 5px;
}
.ul>li>a:hover,.ul>li>a:visited,a{
    text-decoration: none;
    color:white;
}
.brand_name>a>img{
    width:50px;
    height:auto;
}
.buttons{
    width:65%;
    display: flex;
    align-items: center;
    padding-top:10px;
    justify-content: space-between;
}
#form>.buttons{
    padding-top:0px;
}
#form>.buttons>button{
    margin-bottom: 0;
}
.links_b{
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    display: block;
    height: 76px;
    line-height: 76px;
    text-align: center;
    max-width: 255px;
    width: 100%;
    margin: 0 auto;
    border-radius: 38px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    background: linear-gradient(74.05deg,#dd00ac 0%,#711bff 100%);
}
.links_b:hover(not #fk){
    box-shadow: 0px 4px 90px rgba(173,0,255,.5) !important;
}

.write_mes{
    position: fixed;
    bottom:0;
    width:361px;
    max-width:100vw;
    border: 0.5px solid #ecf0f1;
}
.krest{
    position: absolute;
    top:4px;
    left:15px;
}
.headline{
    color:white;
    border-radius: 5px 5px 0 0 ;
    background-image: linear-gradient(74.05deg,#007add 0%,#7e1bff );
    display:flex;
    font-size:0.5rem;
    font-family: 'Gothic A1', sans-serif;
    align-items: center;
    justify-content: space-between;
    padding:10px 14%;
    color: #2c3e50;
    background: #ecf0f1;
}
.messages{
    height:55vh;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.messages>ul{
    width:90%;
    padding-top:20px;
    overflow-y: visible;
    max-height: 300px;
}
[data-role='user']{
  align-self: flex-end;
  transform: translateX(25%);
}
.line2{
    display:none;
}
a>.flex1{
    margin-top:-30px;
}
.messages>ul>li{
    margin-bottom: 10px;
    list-style: none;
    font-size:1rem;
    border-radius: 10px;
    padding: 5px 10px;
    max-width:70%;
    color: #222d38!important;

    min-width: 100px;
    min-height:30px;
    font-family: 'Didact Gothic', sans-serif;

    background-color:#c3c3c4;
}
.messages>ul>li>div{
    margin-bottom: 2px;
    font-family: 'Rubik', sans-serif;
    font-weight:600;
}
.ffs{
    position: relative;
    font-family: 'Rubik', sans-serif;
}
.ffs>.strelka{
   position: absolute ;
   bottom: 30px;
   right:10px;
}
.ul>li>a{
    width:100%;
}
textarea{
    text-align: left;
    border:none;
    border-top:1px solid  #bdc3c7 ;
    outline:none;
    padding:10px;
    padding-right:60px;
    box-sizing: border-box;
    resize: horizontal;
    width:100%;
    
}
.service_price>p{
    line-height: 1.5;
}
.message_area{
    background-color: white;
}

.greeting{
    display: flex;
    height:90%;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.greeting>h1{
    padding-bottom:50px;
    text-align: center;
    color: white;
    font-size:2.7rem;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
}
#gr>h1{
    text-align: center;
    /*font-family: 'Open Sans Condensed', sans-serif;
    /*font-family: 'PT Sans', sans-serif;
    font-family: 'Alegreya Sans', sans-serif;*/
    font-weight:600;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    padding-left:10px;
}
.greeting>p{
    font-family: 'Quicksand', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 29px;
    margin-bottom: 30px;
    max-width: 606px;
    text-align: center;
}
#gr>p{
    text-align: left;
    font-size:.875rem;
    color:hsla(0,0%,100%,.75);
}
.inner-left>h1{
    margin: 5% auto;
}

.yees{
    background-color: #3498db !important;
    color:white !important;
    font-size:1.5rem;
}
.relative_my{
    position:relative;
    width: 90%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.relative{
    position: relative;
}
.relative>div{
    position: absolute;
    top: -124%;
    left: 50px;
}
.all{
    width:100%;
    height:100%;
}
footer>.copyright{
    width:auto;
    flex-direction: column-reverse;
}
.connected_users{
    margin:auto;
    min-height:200px;
    position: absolute;
    top: 100px;
    text-align: center;
    color: rgba(51, 47, 47, 0.884);
    font-size:1.5rem;
    font-family: 'Rubik', sans-serif;
}
#ulik1>li{
    margin: 10px auto;
    list-style: none;
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 5px 10px;
    width:90%;
    color:#34495e;
    min-height:30px;
    font-family: 'Didact Gothic', sans-serif;
    font-size:1.2rem !important;
}
#ulik1>li>div>a:hover{
    display:block;
    color:white !important;
    background-image: initial !important;
}
.tt1 {
    position: absolute !important;
    width:80% !important;
    right:10% !important;
    top:150px !important;
    height:70vh;
}
.section {
    font-size: 16px;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}
.flex1{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.about_us{
    flex: 1 1 50%;
    margin-left:20px;
}
.about_h1{
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 15px;
    padding:15px 0;
}
.title--big,.link-email{
    color:#1B9CFC;
    color:rgb(238, 213, 75);
}
.about_us>svg{
    margin-bottom: 5px;
}
.about_p{
    font-size:1rem;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}
.imagel{
    flex:1 1 50%;
}
.service_wrap_item>p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.imagel>svg{
    width:100%;
    height: 100%;
}
.flex1>svg{
    margin:0 auto;
}
.write_mes{
    z-index:10000000;
}
.two{
     background-color: rgb(245, 245, 245);
     width:100vw;
     padding-bottom:3rem;
}
.sec{
    z-index:2000000;
}
.flex1>svg{
    margin: 0 auto !important;
     transform: translateX(0) !important;
}
.flex-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
}
.cards>a{
    max-width: 394px;
    min-width: 300px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    position: relative;
  
    font-size: 18px;
    font-weight: 600;
    margin-left:0 !important;
    box-shadow: 0px 15px 32px 5px rgba(0,0,0,0.05);
    border-radius: 50px;
    padding: 50px 25px 50px;
    text-align: center;
    min-height: 400px;
    margin: 5px 10px;
}
.inner_right{
    margin-top: 80px;
}


.servicess{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    text-align:center;
    position: relative;
}
.points_block>p{
    height:60px;
}
.contact_form>p{
    padding:10px 0;
}
.cards>a{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.fon{
    height: 114px;
    width: 135px;
    margin: 10px auto;
    position: relative !important;
}
a .fon {
    background-image: url(http://webitkurigram.com/wpv/agencya/wp-content/themes/agencya/assets/images/shape.svg);
}

.inner_fon {
    width: 118px;
    height: 120px;
    border-radius: 50%;
   /* background: linear-gradient(44.11deg,#4a10b5 21.01%,#42ddff 97.13%);*/
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1); 
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:12%;
    left:12%;

}

footer{
    height:100px !important;
    /*background-color: #1644ad;*/
    background-color: #2f4874;
    background:#2d2d44;
    background: #25292d;
    padding:10px 0;
    width:100vw;
    color: #e0e0e0;
    display:flex;
    align-items: center;
    justify-content: center;
}
footer>.copyright{
    text-align: center;
    color: #e0e0e0;
    display:flex;
    width:50%;
    margin:auto;
    font-size: 1.2rem;
    line-height: 1.5;
    align-items: center;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
   /* transform: translateY(-30%); ?????*/
}
.cards{
    width:100%;
    flex-wrap: wrap;
    justify-content: center;
}
.cards>a{
    margin-left:15px;

}
.inner-left>.line{
    position: absolute;
    left:5px;
    bottom:10px;
}
.contact_info{
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px ;
    padding:25px 10%;
    box-sizing: border-box;
}
.contact-info__item{
    display:flex;
    justify-content: space-around;
}
.contact-info__item>.detail{
   display:flex;
   flex-direction: column;
   justify-content: space-between;
   white-space: nowrap;
   color:black;
   margin-left:10px;
}
.contact-info__item>.detail>a{
   color: black !important;

}
.img-wrap{
  margin-right: 10px;
}
.img-wrap>img{
    width:100%;
    height:100%;
    object-fit:fill;
}
.contact-info__item .detail .label {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}
#service_price>.line{
    margin:10px auto;
}
.footerup{
    width: 115px;
    height: 40px;
    padding-right: 10px;
    overflow: hidden;
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
   
    margin-left: 25px;
    margin-top:0 !important;
    position:relative;
}
.footerup:after {
    content: "\2191";
    display:inline-block;
    position: absolute;
    top: 8px;
    right: 22px;
}
.servicess>h6{
    padding: 3rem 0 ;
    font-size:2.3rem;
}

.blue{
    background: linear-gradient(82.83deg,#00112c 0%,#00245b 39.44%,#006ebd 100%);
    width:100vw;
    line-height:1.5;
    padding-bottom: 10px;
}
.clients{
    flex-direction:column !important;
    text-align: center;
}

.clients>h2{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #22292f;
    color: #404040;
}
.points_block p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color:#404040;

}
.wrap-container{
    max-width: 1322px;
    position: relative;
    margin: 0 auto;
    padding: 0 40px;
    color:white;
}
.knowyou{
    position: absolute;
    top:0;
    left:0;
    height:200px;
    border-radius: 20px 20px 10px 10px;
    z-index:-1;
    width:100%;
    background: linear-gradient(0deg,#8b60ed,#b372bd);
}
.center{
    width:100%;
}
.pos_rel{
    position: relative;
}
.points_block{
    text-align: center;
    max-width: 288px;
    margin-right: 30px;
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex:1 1 50%;
    color:#404040;
    border-radius: 20px;
    border: 1px dashed  #ccc;
    
   /* padding: 40px 30px 60px;*/
    padding: 20px 40px 20px 40px;
    max-width: 300px;
    margin:20px;

   
}
.points_block .fon {
    height: 155px;
    /*background: url(https://if-studio.ru/wp-content/themes/if-studio/img/Ellipse.svg) !important;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 20px;
    position: relative;
    width: 152px;
}   

.points_block> span {
    color:#404040;

    font-size: 16px;
    background: url(https://if-studio.ru/wp-content/themes/if-studio/img/border-span.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
}    
/*.mod{
    /*flex-wrap: nowrap !important;
 }*/
.line_one{
    width:90vw;
    height:2px;
    background-color: darkgray;
    margin:auto;
 }
 .back-map {
    background-position: center;
    background-repeat: no-repeat;
    background-size: inherit;
    padding: 30px 20px 40px 20px;
    padding-bottom:35px !important;
 }
 .back-map>#form{
    max-width: 550px;
   /* background: #001e45;*/
   background: rgba(89, 98, 117,1.0);
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 10px;
    opacity: .92;
    overflow-x:visible ;
 }   
 .back-map #form  label{
     width:90%;
 }
 .back-map #form label input ,.back-map #form label textarea{
    border: 0;
    width: 100%;
    background: rgba(3,49,106,.8);
    background: rgba(241, 242, 246,0.3);
    border-radius: 15px;
    color:rgba(241, 242, 246,1.0)!important;
    font-size: 16px;
    display: inline-block;
    outline:none;
    padding-left:5px;
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.back-map #form label{
    position: relative;
}
.contact_form .back-map #form label svg {
    position: absolute;
    top:10px;
    right: 25px;
}
.back-map #form label ::placeholder,.back-map #form label textarea::placeholder{
    color:white;
}
.back-map #form input{
    height: 50px;
    
}
 .contact_form{
    padding: 30px  ;
    text-align: center;
    color: #e0e0e0;
 }
 .contact_form>h3,.page-body__container{
    font-size: 34px;
 }

 .back{
     flex-direction: row-reverse !important;
 }
 
.clients>.buttons{
    margin-top:20px ;
}
.points_block{
    flex: 1 1 50%;
}

.threee>#form{
    background-color: #feca57;
    background-color: #778beb;
}
.threee #form input,.threee #form textarea{
    background-color: transparent !important;
    border-bottom: 1px solid white!important;
    border-radius: 2px !important;
}
.ffi:hover{
   color:white !important;
   border-color: white !important;
}
.noo p {
    color:#feca57;
    font-weight: 900;
}

.nike>#one{
    border:2px solid white;
    background: white;
    color:#328af1;
    font-weight: 900;
}
.image1{
    padding-top:30px;
    max-height:350px;
}
.error{
    background-color: brown !important;
    color:white !important;
    font-size:1.5rem;
}
@media(max-width:1300px){
   .line_one{
       left:0;
   }
}

@media screen and (max-width:887px){
    
    #gr>h1{
        font-size: 2.5rem !important;
        text-align:center;
    }
    
    .special>.buttons{
        flex-direction: initial !important;
    }
    .greeting>p{
        font-size:15px !important;
    }
    .wrap-container{
        padding:0
    }
    
    .banner{
        width:100vw;
        min-height: 100vh;
    }
    .banner>.container{
        padding-top:50px;
    }
     .buttons{
         flex-direction: column;
     }
     #ggf{
         padding: 0 2%;
     }
     #ggf a {
        max-width: 270px;
        min-width: 240px;
        margin: 20px !important;
    }
    .maxing>.buttons{
        max-width: none;
    }
    .maxing>.buttons >a {
        margin: 10px 0;
    }
    
}
.container1{
    width:90vw;
    margin: 0 auto;
    font-size:1rem;
    padding-bottom:10px;
}
#call,.messages{
    background-color:white;
}
.see{
    margin-top:130px;
    width: 100%;
}
.service_wrap{
    display:flex;
    padding: 50px 0 0px;
    justify-content: center;
}

.service_wrap_item{
    background: #fff;
    border-radius: 20px;
    padding: 40px 30px 60px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    color:#3d3a3a ;
    margin:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.kick_me{
    background: #F5F5F5; 
    color:#222121 !important;
    width:100%;
    height:100%;
    position:relative;
    overflow-x: hidden;
    padding-bottom: 30px;

}
#footer{
transform:translateY(158px) !important;
height:65px;
}
.service_wrap_item:hover{
    box-shadow: 0px 4px 90px rgba(70, 68, 71, 0.301) !important;
}
.service_wrap_item>.gradients{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    height: 20px;
    border-radius: 0 0 20px 20px;
}
.service_wrap_item>p>a{
    color:#3d3a3a;
    font-family: 'Montserrat', sans-serif;
}

.service_wrap_item>p>a>.value{
    color: #ff5378;
    font-size: 14px;
    line-height: 160%;
    white-space: nowrap;
}
.info{
    font-size:25px;
    margin: 15px 5px;
}
.service_price>h1{
   font-size: 2.5rem;
}
.kick_me>.blue{
    width:100vw;
    height:100%;
}
.breadcrumps{
    display: flex;
    padding-bottom: 70px;
}
.breadcrumps span a {
    color: #011739;
    font-size: 14px;
    line-height: 160%;
    text-decoration-line: underline;
    margin-right: 25px;
    position: relative;
}
.breadcrumps>span>a::after {

    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    background: linear-gradient(84.72deg,#dd00ac 0%,#711bff 100%);
    border-radius: 50%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}

#category_price{
    display:flex;
    height:100%;
}
.not_reverse{
  flex-direction: column !important;
}
.inner-left {
    margin-right: 30px;
    min-width: 50%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.inner-left>h1{
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
}

.inner-left p {
    font-size: 16px;
    line-height: 26px;
}
.list>ul{
    list-style:none;
}
.list>ul>li{
    font-size: 14px;
    line-height: 160%;
    padding-left: 15px;
    position: relative;
    font-weight: 100;
}
.list>ul>li:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: linear-gradient(84.72deg,#dd00ac 0%,#711bff 100%);
    border-radius: 50%;
    left: 0;
    top: 8px;
}
.price{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    margin-top: 40px;
}
.price__cost {
    color: #ff5378;
    white-space: nowrap;
}
.ul{
padding-left: 10px;
padding-top:5px;
}
.lulu .showreel-box__title{
    text-shadow: none;

}
@media (max-width:1100px){
    .tw-w-full{
        background-image: none;
    }
    .nike>a{
        display:inline-block;
    }
    #footer {
        transform: translateY(100px) !important;
    }
    .small_container>.buttons{
        flex-direction: column;
    }
}
@media(max-width:1000px){
    
    .buttons{
        width: 80%;
    }
    .inner_fon{
        transform: translate(-20px, -1px);
    }
    .contact_form{
        padding-top:40px !important;
    }
    .flex1{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .skati .flex1{
        flex-wrap: nowrap !important;

    }
    .cards{
        flex-wrap: wrap !important;
    }
    .buttons{
        width:80%;
    }
    .flex1>:nth-child(even),.flex1>:nth-child(odd){
        margin-left:20px;
    }
    
    .about_p{
    line-height: 26px;
    padding-right:20px;
    }
    .imagel{
        max-width:500px;
        max-height:400px;
        padding-top:40px;
        margin: auto;
    }
    .imagel>svg{
        object-fit: cover;
        width:100%;
        height:100%;
    }
    .flex1>svg{
        transform: translateX(-50%);
    }
}

@media(max-width:900px){
    .bab{
        flex-direction: column !important;
    }
}
@media (max-width:950px){
    
    .ul>li>a{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    /*border-bottom: 1px solid #4b7bec;*/
    font-size:1.2rem;
    }
    .menu{
        display: block !important;
    }
    .active,.active:hover,.active:focus{
        border:none !important;
        border-bottom: 1px solid #70a1ff !important;
        background-color:#70a1ff  !important;
        padding-top:4px !important;
        padding-bottom: 4px !important;
    }

    .ul>li>a{
        height:auto;
    }
    .brand_name{
        width:50%;
        text-align: center;
    }
    .ul{
        flex-direction: column;
        margin-left:0;
        padding-left: 0;
        padding-top: 20px;
        display: none;
        min-width: 100%;
    }
    .buttons{
        width:100%;
    }
    
    .ul>li{
        padding-top:0;
        padding-bottom: 0;
        width:90%;
        margin:auto;
        font-size:1.5rem;
        display: flex;
        align-items: center;
    }
    .ul>li>a:hover{
        width:100%;
        display:block;
        margin-bottom: 2px;
        outline: none;
        border: 1px solid #70a1ff;
        border-radius: 15px;
    }
    
    .mod{
        flex-wrap: wrap !important;
        width:100%;
     }
     .mod:nth-child(even), .mod:nth-child(odd){
         flex-basis: 50%;
     }
     .banner{
        background: linear-gradient(82.83deg,#00112c 0%,#00245b 39.44%,#006ebd 100%);
    }
    #gr>h1 {
        font-size: 2rem !important;
    }
    #gr>h2{
        padding-bottom:10px;
    }

}
@media(max-width:888px){
    .tool{
        display:none;
    }
    #gr>h1{
        padding: 1.5rem 0 !important;

    }
    .display_flex {
        
        justify-content: center;
    }
    .greeting{
        justify-content: center;
        align-items: center;
    }
  .contact_form{
    padding-bottom: 0;
  }
   .small_container{
    width: 90%;
   }
   #gr>h2{
       font-size:70px;
   } 
  .greeting>h1{
      font-size:2rem;
  }
}
@media  (max-width:825px){
    .block1{
        width:53% !important;
    }
    .back-map{
        padding: 30px 30px 40px 30px;
        
    }
    .dr {
        flex: 1 1 55%;
       /* max-width: 250px;*/
       max-width:350px;
    }    
    .dr>img{
        height:100%;
        width:auto;
        object-fit: initial;
        max-height: 300px;
    }
    .smalltext{
        padding:0  10px !important;
        max-height: auto;
        min-height: 120px;
        margin-bottom: 0 !important;
        max-width:300px;
    }
    .ogo{
        font-size:1.4rem;
        margin-top:30px ;
    }
    .greeting>p{
        font-weight: 300;
    }
    .service_wrap{
        flex-wrap: wrap;
    }
   .bab{
       flex-direction: column;
       min-width: 100%;
       align-items: center;
   }
   .bab>a{
       margin:10px 0;
   }
}
@media(max-width:785px){
    .letters{
        display: none !important;
    }
    
    .home-banner{
        background-image:url(../public/hero.svg);
        background-position: center center;
        background-size: 200% 200%;

        background-position: center bottom;
        background-size: 130%;

    }
}
@media screen and (max-width:700px){
    
    .line2{
        display:block;
        margin: 10px  0 20px 0 ;
    }
    .footerup {
        margin-top: 10px;
    }
    .contact_info{
        padding:25px  2%;
    }
    .greeting>h1{
        font-size: 2.4rem !important;
        /*font-family: 'Comfortaa', cursive;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-family: 'PT Sans Caption', sans-serif;*/
        letter-spacing: 0.7px;
        line-height:1.5;
    }
    .greeting>p{
        display:none;
    }
}    
@media screen and (max-width:690px){
   
    .wrap>a:nth-child(even), .wrap>a:nth-child(odd){
        min-width: 250px;
        min-height: 250px ;
    }
    .small_container{
        width:100%;
    }

    .back-map #form label {
        width: 120%;
    }
    .back-map>#form{
        padding: 20px 55px;
        width: 100%;
        max-width:400px;
    }    
    .servicess>h6{
    width: 90%;
    font-size: 30px;
    line-height: 1.5;
    margin: 18px  auto;
    }
    
    .brand_name{
        font-size: 35px;
    }
    .back-map #form label {
        width: 110%;
        font-family:  'Ubuntu Condensed', sans-serif;
        padding: 0 10px 0 10px !important;
    }
    .two,.blue{
        width: 100vw;
    }
    .points_block{
        height:340px;
    }
    .points_block p{
        margin-top:8px;
    }
    
    .greeting{
        text-align:left;
        letter-spacing: 0.2px;
    }
    
    .fjj{
        width:100% !important;
    }
    .back-map #form label {
        width: 100% !important;
    }
    .back-map #form {
        padding: 20px 15px;
    }
    
}
@media(max-width:650px){
    
    .sgx{
        justify-content:unset !important; 
    }
    .link-email{
        font-weight: 800;
    }
    
 
    .footerup{
        margin-bottom: 10px;
    }
    
    .greeting>h1{
        padding-bottom:5px;
    }
   
    .inner-left{
        margin-right: 0;
    }
   
    .back-map #form label {
        width: 120%;
    }    
    #category_price{
        flex-wrap:wrap-reverse;
    }
    .inner_right{
        width:100%;
        max-height:400px;
        margin-top: 10px;
    }
    .brand_name {
        width: 100%;
        text-align: left;
        font-size:40px;
        padding-left:15px;
    }
    .contact_info{
        flex-direction: column;
        height:170px;
        justify-content: space-between;
    }
    .toto{
        position: absolute;
        left:5%;
    }
   
    .inner-left>h1{
        font-size: 35px !important;
    }
    .inner_right>img{
        height: 100%;
        width: 100%;
        object-fit:contain;
        margin-top:0 !important;
    }
   
    .wrap-container {
        padding: 0 20px;
    }

}

@media (max-width:580px){
    .back-map{
        padding:25px 0;
    }
    .dic{font-size: 26px !important;}
}
@media(max-width:520px){
   .doo{
       margin-top:0 !important;
   }
    

    .title--big{
        font-size:2.5rem;
    }
    #fsg{
        min-width: 180px;
    }
    .special{
        padding-bottom:20%;
    }
    .servicess>h6 {
        padding:15px;
    }
    .title--section{
        max-width:auto;
    }
    footer>.copyright{
        width:90%;
    }
   
    .footerup{
        margin-left: 0px;
        margin-right:5px;
    }
    .sec{
        min-height: 73px;
    }

    .wrap-container {
        padding: 5px 20px;
    }
    .service_wrap {
        display: flex;
        padding: 25px 10px;
    }   
    footer>.copyright{
        flex-direction: column;
    }
   
    .contact_form{
        padding:0;
    }

}
@media(max-width:490px){
    
    .greeting>h1 {
        font-size: 2.2rem !important;
        padding-bottom: 0; 
    }    
    .know{
        width:100%;
    }
    .inner-left>h1{
        font-size: 30px !important;
        padding-bottom: 10px;
    }
}

@media(max-width:480px){
   
   
    .footerup{
        margin-top:10px !important;
    }
   
    .blue{
        padding-bottom: 60px;
    }
     .wrap-container{
         padding: 40px 20px;

     }
    .service_price>h1{
        font-size: 2rem !important;
    }
    .clients>h2 {
        font-size: 26px;
    }    
    .contact_form {
        padding: 0;
    }
    
    .contact_form>p{
    width: 80%;
    margin: auto;
    padding-right: 16px;
    }    
    
    #form>.buttons>.links_b {
        margin-bottom: 0px; 
        padding-bottom: 10px !important;
        
    }
    .footerup {
        margin: auto;
    }
    footer>.copyright {
        display: inline-block;
        width: 60%;
        margin: auto;
        align-items: center;
    }
    .small_container{
        margin-top:70px;
    }
    .back-map{
    width: 100%;
    margin: auto;
    min-height: 380px;
    position: relative;
    padding:0 ;
    margin-top:10px;   /** ?????*/
    }
    .back-map>#form{
        width: 100%;
        padding:25px 0  !important;
    }
    .back-map #form label{
        width:90%;
    }
   
.ul>li {
    padding-top: 10px;
    padding-bottom: 5px;
    width: 90%;
    /* margin: auto; */
    /* transform: translateX(-5%); */
    font-size: 1.5rem;
}
.info{
    font-size:20px;
}
.wrap-container{
    padding:0 20px;
}
.container1{
    padding-bottom: 0;
}
.breadcrumps{
    width:120%;
}
.menu{
    right:5%;
}
.brand_name>a>h1 {
    font-size: 2rem;
}
.buttons>button{
    padding-bottom: 10px !important;
}
.title--big{
    font-size: 2rem;
}
.title--section{
    min-width: 190px;
}
.grid{
    grid-template-rows: 75vh;
}
.projects{
    font-size:1.2rem;
}
}
@media(max-width:394px){

    .grid{
        grid-template-rows: 70vh;
    }
     .shadow>.info>h4{
        font-size:1.7rem;
     }   
    .price__cost{
      font-size:25px;
    }
    .write_mes{
        width:90%;
    }
    
    
    #k{
        display:none;
    }
    .headline{
        justify-content: center;
    }
    .blue{
        overflow-x: hidden;
    }
    .menu{
        top:20px;
    }
   .title--section{
       display:none;
   }
   .section--black{
       margin:0 !important;
   }
   .special{
       justify-content: space-around;
   }
   
    .sec{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back-map>#form{
        padding:0;
        padding-top:10px;
        width:100% !important;
    }
    .back-map #form label{
        width:100% !important;
    }
    #form>.buttons>.links_b{
        width:80%;
    }
    #form>.buttons{
        padding-top:0;
    }
   .know{
       width:80%;
   }   
    .sec{
        padding:0;
    }
    .service_wrap_item{
        min-width: 100%;

    }
    .servicess>h6{
        font-size: 25px;
    }
    .back-map>#form {
        width: auto;
    }   
    .brand_name {
        font-size: 33px;
         padding-left:0;
    }
    .banner>.container {
        padding-top: 20px;
    }
    .servicess>h6 {
        margin-bottom:0;
    }   
    .cards>a{
       min-width: 250px;
    }
    .sec>.container{
        margin:20px auto;
    }
    .contact_form>p{
        width:auto;
        padding-right: 0px;
    }
    .blue>.container{
      width:100%;
      padding:0;
    }
    .points_block{
        height:350px !important;
    }
    
}

@media(max-width:340px){

    .section--black{
        padding-top:0 !important;
    }
    .about_p{
        font-size: 16px;
    }
    .servicess>h6{
        font-size:22px;
        width:100%;
    }
    #k{
        visibility: hidden;
    }
    .headline{
        padding: 5px 10px 5px 20px;
    }
    .krest{
        left:2px;
        top:0;
    }
    .title--big{
        font-size: 2rem;
    }
    .menu{
        right:3%;
    }
    .brand_name>a>h1{
        font-size:1.7rem;
    }
    .greeting>h1{
        font-size:1.7rem!important;
    }
}

@media(max-width:320px){
  
    .inner-left{
        margin-right:15px;
    }
}
@media(max-width:293px){
    .see{
        margin-top: 80px;
    }
    .title--big{
        font-size: 1.8rem;
    }
    .brand_name>a>h1{
        font-size:1.6rem;
    }
    .ul{
        padding-top:0;
    }
    .brand_name>a>img{
        width:40px !important;
    }
    .grid{
        grid-template-rows: 67vh;
    }
    .container1>.breadcrumps span a {
        font-size: 16px;
    }
    .section--black {
        padding-top: 20px !important;
    }
    .menu{
        right:2%;
        top:17px;
    }
   
}
@media(max-width:260px){
    .title--big{
        font-size:1.5rem;
    }
    
    .contact_form>h3,.page-body__container {
        font-size: 27px;
    }

}
